#adicionar-registro{
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    align-items: center;

}
#table-list-registro{
    width: 70%;
    word-wrap: break-word;
    table-layout: auto;
}
#modal-editar-registro{
    color: black;
    margin: 3rem auto;
}

@media (max-width:1365px) {

    #modal-editar-registro{
        width: 70%;
    }
    

} 