#login-form {
  text-align: center;
}
.buttonsDiv {
  gap: 15px;
  display: flex;
  justify-content: center;
}

p {
  color: white;
}

.foot-lnk a:hover{
  cursor: pointer;
  text-decoration: underline;
}
