.btn-menu{
    background-color: var(--color-background-secondary) !important;
    color: white !important;
    transition: .3s !important;
    border-radius: .1rem !important;
    font-size: 1.3rem;

} 

.btn-menu:hover{
    background-color: var(--color-background-secondary-hover) !important;
    cursor: pointer;
}
.menu{
    display: flex;
    height: 3.3rem;
    margin: 0rem auto;
    background-color: var(--color-background-secondary) !important;

} 

#navbar{
    justify-content: center;
    width: 100%;
    text-align: center;
}