#adicionar-vacina{
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    align-items: center;

}

#adicionar-vacina-form{
    width: 50%;
    margin: auto auto;
} 

#adicionar-vacina-form label{
    margin:auto auto 1rem auto;
}
#modal-editar-vacina{
    color: black;
    margin: 3rem auto;
}
#table-list-vacina{
    word-wrap: break-word;
    word-break: break-all;
    table-layout: fixed;
}
@media (max-width:1365px) {
    #adicionar-vacina-form{
        width: 60%;
    }
    #adicionar-vacina{
        width: 100%;
    }
    #modal-editar-vacina{
        width: 70%;
    }
    

}