:root{
  --color-background-login: #526f85;
  --color-background-primary: #0b80da;
  --color-background-primary-hover: #0a6fbd;

  --color-background-secondary: #223c50;
  --color-background-secondary-hover: #1d74b6;

}
 
html, body{
  overflow-x:hidden;
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
  background-color: var(--color-background-login);
  color: rgb(255, 255, 255);
  


}
tr{
  color: rgb(255, 255, 255);

}
thead{
  background-color: var(--color-background-secondary-hover);
}
tbody{
  background-color: var(--color-background-secondary);

}
tbody>tr:hover{
  background-color: var(--color-background-secondary-hover);

}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 1rem !important;
  font-size: 1.2rem;
  align-items: center;

}

select{
  text-align: center;
  font-size: 1.2rem;
  padding: 0.4rem;
}
.alert{
  width: 50%;
  text-align: center;
}

@media (max-width: 1365px) {
  :root{
      font-size: 70%;
  }
  td, th {
      padding: 0.5rem !important;
  }

  .alert{
      width: 100%;

  }
}
.iconTable:hover{
  cursor: pointer;
  color:#aaa;

}
